@font-face {
    font-family: "Mario";
    src: url("./font/New\ Super\ Mario\ Font\ U.ttf");
}

html {
    overflow: hidden !important;
}

/* START SCREEN */

.startContainer {
    position: absolute;
    display: flex;
    left: 0px;
    top: 0px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
}

/* .startContainer img{
    border-radius: 0;
} */

.Title {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 40%;
    background-color: rgba(0, 255, 255, 0);
}

.titlescreen {
    width: 80%;
    height: 20%;
    margin-bottom: 20px;
}

.gameName {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.wordTitle {
    width: 50%;
}

.startGameTitle {
    display: flex;
    position: absolute;
    width: 20%;
    height: 20%;
    align-self: flex-end;
    bottom: 20%;
    background-color: rgba(240, 248, 255, 0);
    outline: none;
    border: 0;

    background-image: url('./img/startGame.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

}


.pisca {
    animation-name: pisca;
    animation-delay: 0.2s;
    animation-duration: 1.7s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes pisca {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.gifBox {
    position: absolute;
    width: 100%;
    height: 100%;
}

.gifBox video {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.startVideo {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.startVideo video {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.loopVideo {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.loopVideo video {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

/* GAME */

.gameContainer {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    width: 100%;
    height: 100%;
    margin: auto;
}

.gameContainer .scenario {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
}

#cardsContainer {
    position: absolute;
    z-index: 1;
    display: flex;
    width: 50%;
    height: 35%;
    margin-left: 28%;
    flex-direction: row;
    align-self: flex-end;
}

.Cards {
    flex: 1;
    height: 60%;
    margin-left: 10px;
    align-self: center;
    align-self: flex-end;
}

.Cards button {
    display: 1;
    outline: none;
    width: 60%;
    height: 80%;
    background-color: rgba(236, 185, 119, 0);
    border: none;
    perspective: 1000;
    transition: .5s;
}

.Cards button:hover {
    transform: translate(0px, -10px);
}

img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 5px;
}

@keyframes Flipper {
    0% {
        transform: rotateY(0)
    }
    50% {
        transform: rotateY(180deg);
    }
    100% {
        transform: rotateY(0);
    }
}

.Cards .flip {
    animation-name: Flipper;
    animation-delay: 0.2s;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: 3;
}

.Disappear {
    animation-name: Disappear;
    animation-delay: 0.2s;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}

.Appear {
    animation-name: Appear;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}

.AppearSizing {
    animation-name: AppearSizing;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}

.AppearSizingPlus {
    animation-name: AppearSizingPlus;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}

@keyframes Disappear {
    0% {
        opacity: 0.8;
    }
    50% {
        opacity: 0.3;
    }
    100% {
        opacity: 0;
    }
}

@keyframes Appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes AppearSizing {
    from {
        width: 10%;
        height: 20%;
    }
    to {
        width: 25%;
        height: 35%;
    }
}

@keyframes AppearSizingPlus {
    0% {
        margin-left: 30%;
        width: 20%;
        height: 15%;
    }
    50% {
        margin-left: 15%;
        width: 70%;
        height: 40%;
    }
    100% {
        margin-left: 17%;
        width: 65%;
        height: 30%;
    }
}

/* PERSONAGENS E PALAVRAS */

.ally {
    position: absolute;
    z-index: 1;
    width: 10%;
    height: 20%;
    left: 15%;
    top: 60%;
}

.enemy {
    position: absolute;
    z-index: 1;
    right: 10%;
    top: 50%;
    width: 11%;
    height: 140px;
    margin: 5px;
}

.enemy {
    animation-name: EnemyAnimation;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes EnemyAnimation {
    0% {
        top: 50%;
    }
    25% {
        top: 50%;
    }
    50% {
        top: 60%;
    }
    100% {
        top: 50%;
    }
}

.words {
    position: absolute;
    z-index: 1;
    display: flex;
    margin-left: 10%;
    margin-top: 50px;
    width: 80%;
    height: 43%;
}

/* playerChosenCards - cartas escolhidas */

.playerChosenCards {
    opacity: 0;
    position: absolute;
    width: 15%;
    height: 60%;
    left: 50px;
    margin-top: 40px;
}

/* enemyChosenCards */

.enemyChosenCards {
    opacity: 0;
    position: absolute;
    right: 50px;
    width: 15%;
    height: 60%;
    margin-top: 40px;
}

/* WordRock - div palavra pedra */

.WordRock {
    opacity: 0;
    position: absolute;
    align-self: flex-end;
    left: 30px;
    width: 25%;
    height: 35%;
}

/* WordPaper - div palavra papel */

.WordPaper {
    opacity: 0;
    position: absolute;
    align-self: flex-end;
    width: 25%;
    height: 35%;
    right: 8px;
}

/* WordsScissor - div palavra tesoura */

.WordsScissor {
    opacity: 0;
    position: absolute;
    align-self: center;
    margin-left: 17%;
    width: 65%;
    height: 30%;
    top: 80px;
}

/* wordResult - div de vitoria */

.wordResult {
    opacity: 0;
    position: absolute;
    align-self: center;
    margin-left: 17%;
    width: 65%;
    height: 34%;
}

.gameContainer {
    display: none;
}

#marioLifesBox {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 40%;
    height: 10%;
    left: 20px;
    /* background-color: rgba(0, 255, 255, 0.157); */
}

.pointDivs {
    display: flex;
    justify-content: space-between;
    width: 25%;
    height: 80%;
    margin-left: 10px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}

.pointDivs h1 {
    display: block;
    font-family: "Mario";
    font-size: 45px;
    line-height: 60%;
    background: linear-gradient(#eee, #333);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: -1px 0 rgb(233, 48, 48), 0 3px rgb(0, 0, 0), 3px 0 rgba(24, 13, 13, 0.993), 0 -3px rgba(32, 18, 18, 0.966);
}

/* Game over */

#gameOverScreen {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-repeat: no-repeat;
    background-size:100% 100%;
    background-position: center;

    animation-name: gameOver;
    animation-delay: 0.2s;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}

#marioDerrotado{
    position: absolute;
    width: 200px;
    height: 200px;
    bottom: 10%;
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;

    
}

#wordGameOver{
    position: absolute;
    width: 400px;
    height: 200px;
    top: 20%;
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
}


#wordRestart{
    position: absolute;
    width: 200px;
    height: 200px;
    bottom: 30%;
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
    background-color: rgba(255, 255, 255, 0);
    outline: none;
    border: none;
}

@keyframes gameOver {
    0% {
        background-image: radial-gradient( circle at 20% 70%, rgba(0, 0, 0, 0) 100%, black 0%);
    }
    5% {
        background-image: radial-gradient( circle at 20% 70%, rgba(0, 0, 0, 0) 90%, black 0%);
    }
    10% {
        background-image: radial-gradient( circle at 20% 70%, rgba(0, 0, 0, 0) 80%, black 0%);
    }
    15% {
        background-image: radial-gradient( circle at 20% 70%, rgba(0, 0, 0, 0) 70%, black 0%);
    }
    20% {
        background-image: radial-gradient( circle at 20% 70%, rgba(0, 0, 0, 0) 60%, black 0%);
    }
    25% {
        background-image: radial-gradient( circle at 20% 70%, rgba(0, 0, 0, 0) 50%, black 0%);
    }
    20% {
        background-image: radial-gradient( circle at 20% 70%, rgba(0, 0, 0, 0) 40%, black 0%);
    }
    35% {
        background-image: radial-gradient( circle at 20% 70%, rgba(0, 0, 0, 0) 10%, black 0%);
    }
    40% {
        background-image: radial-gradient( circle at 20% 70%, rgba(0, 0, 0, 0) 10%, black 0%);
    }
    45% {
        background-image: radial-gradient( circle at 20% 70%, rgba(0, 0, 0, 0) 10%, black 0%);
    }
    50% {
        background-image: radial-gradient( circle at 20% 70%, rgba(0, 0, 0, 0) 10%, black 0%);
    }
    55% {
        background-image: radial-gradient( circle at 20% 70%, rgba(0, 0, 0, 0) 10%, black 0%);
    }
    60% {
        background-image: radial-gradient( circle at 20% 70%, rgba(0, 0, 0, 0) 10%, black 0%);
    }
    65% {
        background-image: radial-gradient( circle at 20% 70%, rgba(0, 0, 0, 0) 10%, black 0%);
    }
    70% {
        background-image: radial-gradient( circle at 20% 70%, rgba(0, 0, 0, 0) 10%, black 0%);
    }
    75% {
        background-image: radial-gradient( circle at 20% 70%, rgba(0, 0, 0, 0) 9%, black 0%);
    }
    80% {
        background-image: radial-gradient( circle at 20% 70%, rgba(0, 0, 0, 0) 8%, black 0%);
    }
    85% {
        background-image: radial-gradient( circle at 20% 70%, rgba(0, 0, 0, 0) 5%, black 0%);
    }
    90% {
        background-image: radial-gradient( circle at 20% 70%, rgba(0, 0, 0, 0) 2%, black 0%);
    }
    95% {
        background-image: radial-gradient( circle at 20% 70%, rgba(0, 0, 0, 0) 0%, black 0%);
    }
    100% {
        background-image: radial-gradient( circle at 20% 70%, rgba(0, 0, 0, 0) 0%, black 0%);
    }
}
